<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="container">
        <header>
            <div class="switcher">
                <a href="https://greenshop.com/login">Login</a>
                <span>|</span>
                <p>Register</p>
            </div>
        </header>
        <main>
            <div class="container-form">
                <p>Enter your email and password to register.</p>
                <form>
                    <input type="text" name="username" placeholder="Username">
                    <input type="email" name="email" placeholder="Enter your email address">
                    <input type="password" name="pass" placeholder="Password">
                    <input type="password" name="confirm-pass" placeholder="Confirm Password">
                    <button type="submit">Register</button>
                </form>

                <div class='text-with-bars'>
                    <p>Or register with</p>
                </div>
                <div class="container-social-auth">
                    <div class="social_auth">
                        <img src="../images/logo/google.png" alt="Google icon">
                        <a href="https://greenshop.com/google_auth">Continue with Google</a>
                    </div>
                    <div class="social_auth" id="second">
                        <img src="../images/logo/facebook.png" alt="Facebook icon">
                        <a href="https://greenshop.com/facebook_auth">Continue with Google</a>
                    </div>
                </div>

            </div>
        </main>
        <footer>
        </footer>
    </div>
</body>

</html>